<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置环境 -->
    <!--<environments default="dev">
        <environment id="dev">
            &lt;!&ndash; 使用JDBC的事务管理 &ndash;&gt;
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED"> &lt;!&ndash; 连接池 &ndash;&gt;
                &lt;!&ndash; MySQL数据库驱动 &ndash;&gt;
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                &lt;!&ndash; 连接数据库的URL &ndash;&gt;
                <property name="url" value="jdbc:mysql://localhost:3306/spring?characterEncoding=utf8&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="password"/>
            </dataSource>
        </environment>
    </environments>-->
<!--    <typeAliases>-->
<!--        &lt;!&ndash;        <typeAlias type="com.gy.model.Book" alias="Book" />&ndash;&gt;-->
<!--        <package name="com.gy.model"/>-->
<!--    </typeAliases>-->
    <mappers>
        <!-- 映射文件的位置 -->
        <mapper resource="com/gy/entity/BookMapper.xml"/>
    </mappers>
</configuration>